<!DOCTYPE html>
<html><head>
<title></title>

<meta charset="utf-8">
<meta name="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta content="telephone=no" name="format-detection">
<meta name="description" content="">
<meta name="renderer" content="webkit">
<meta name="theme-color" content="#ffffff">




<script src="/vendor/js/jquery.min.js" ></script>
<script src="/vendor/js/popper.min.js" ></script>
<script src="/vendor/js/bootstrap.min.js" ></script>
<script src="/vendor/js/smooth-scroll.polyfills.min.js" ></script>
<link type="text/css" rel="stylesheet" href="/vendor/css/bootstrap.min.css">
<script src="/vendor/js/vue.min.js" ></script>




<link rel="stylesheet" href="https://doraemonj.github.io/scss/journal.min.ebffb8bc663074d9be2ae412afd845f5d51f7476b8c7c75ccd6caf0352de28e7.css" integrity="sha256-6/&#43;4vGYwdNm&#43;KuQSr9hF9dUfdHa4x8dczWyvA1LeKOc=" media="screen">



<link rel="stylesheet" href="https://doraemonj.github.io/scss/dark-mode.min.7ecba69f8dacfdebdd9e8de588dc5cc8a99040c5413ed0e30d0abaa3d77b175d.css" integrity="sha256-fsumn42s/evdno3liNxcyKmQQMVBPtDjDQq6o9d7F10=" media="screen">


<script src="https://doraemonj.github.io//js/loadCSS.js"></script>
<script>
  loadCSS("https://fonts.googleapis.com/css?family=Lora|Montserrat|Fira+Mono|Noto+Serif+SC|Material+Icons");
</script>

<script src="https://doraemonj.github.io//js/table.js"></script>




<script src="https://doraemonj.github.io//js/toc.js"></script>








</head><body>
    	<div id="app"><div ref="sideContainer" class="side-container">
    
    <a class="a-block nav-head false" href="https://doraemonj.github.io/">
    
        <div class="nav-title">
            Mixoo 米库
        </div>
        
    </a>

    <div class="nav-link-list">
        
        
            
            
            
            
            
            <a class="a-block nav-link-item false" href="/books/">
                藏书
            </a>
            
        
            
            
            
            
            
            <a class="a-block nav-link-item false" href="/about/">
                关于
            </a>
            
        
    </div>

    

    <div class="nav-footer">
        帮你做自己的书库
<br><br>
&copy;
	
	2022 Mixoo 米库
	

    </div>
    
</div><div ref="extraContainer" class="extra-container">
    
    
    <div class="toc animated-visibility" :class="{ invisible: scrollY <= 140 }">


</div>
    
    <div class="pagination">
        <a id="globalBackToTop" class="pagination-action animated-visibility" href="#top" :class="{ invisible: scrollY == 0 }">
            <i class="material-icons pagination-action-icon">
                keyboard_arrow_up
            </i>
        </a>
        
        <a class="pagination-action" v-on:click="toggleDarkMode">
            <i class="material-icons pagination-action-icon" v-if="isDarkMode">
                brightness_4
            </i>
            <i class="material-icons pagination-action-icon" v-else="isDarkMode">
                brightness_7
            </i>
        </a>
        
        
    </div>
</div><div class="single-column-drawer-container" ref="drawer"
     v-bind:class="{ 'single-column-drawer-container-active': isDrawerOpen }">
    <div class="drawer-content">
        <div class="drawer-menu">
            
            
            
                
                
                
                
                
                <a class="a-block drawer-menu-item false" href="/books/">
                    藏书
                </a>
                
            
                
                
                
                
                
                <a class="a-block drawer-menu-item false" href="/about/">
                    关于
                </a>
                
            
            
            <div class="toc">


</div>
            
        </div>
    </div>
</div>
<transition name="fade">
    <div v-bind:class="{ 'single-column-drawer-mask': mounted }" v-if="isDrawerOpen" v-on:click="toggleDrawer"></div>
</transition>
<nav ref="navBar" class="navbar sticky-top navbar-light single-column-nav-container">
    <div ref="navBackground" class="nav-background"></div>
    <div class="container container-narrow nav-content">
        <button id="nav_dropdown_btn" class="nav-dropdown-toggle" type="button" v-on:click="toggleDrawer">
            <i class="material-icons">
                menu
            </i>
        </button>
        <a ref="navTitle" class="navbar-brand" href="https://doraemonj.github.io/">
            Mixoo 米库
        </a>
        
        <button type="button" class="nav-darkmode-toggle" v-on:click="toggleDarkMode">
            <i class="material-icons" v-if="isDarkMode">
                brightness_4
            </i>
            <i class="material-icons" v-else="isDarkMode">
                brightness_7
            </i>
        </button>
        
    </div>
</nav>
<div class="single-column-header-container" ref="pageHead"
     v-bind:style="{ transform: 'translateZ(0px) translateY('+.3*scrollY+'px)', opacity: 1-navOpacity }">
    <a href="https://doraemonj.github.io/">
        <div class="single-column-header-title">Mixoo 米库</div>
        

    </a>
</div>
            <div id="content">
<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
        <div class="post">
            
            
            

            <div class="post-head-wrapper-text-only"
                 style="background-image: url('/')">
                <div class="post-title">
                    

                    <div class="post-meta">

                        

                        <br>

                        

                        <br>

                        

                    </div>
                </div>
            </div>

            <div class="post-body-wrapper">
                <div class="post-body">
                    <p>米塞斯著作：
以下列表出版時間均爲原著（德文或英文）初版年份。英文書名後跟中文書名表示已有中文譯本問世。</p>
<ol start="1912">
<li>The Theory of Money and Credit. 貨幣與信用原理</li>
<li>Nation, State, and Economy.</li>
<li>Socialism: An Economic and Sociological Analysis. 社會主義：經濟與社會學的分析</li>
<li>Liberalismus:In the Classical Tradition（1962年译成英文版，以新标题The Free and Prosperous Commonwealth发表。）自由與繁榮的國度</li>
<li>A Critique of Interventionism.</li>
<li>Epistemological Problems of Economics. 經濟學的認識論問題</li>
<li>Memoirs (1940)</li>
<li>Interventionism: An Economic Analysis.</li>
<li>Bureaucracy. 官僚體制</li>
<li>Omnipotent Government: The Rise of the Total State and Total War.</li>
<li>Planned Chaos. 計劃出來的混亂（網絡版本）</li>
<li>Observations on the Cooperative Movement.</li>
<li>Human Action: A Treatise On Economics. 人的行爲:經濟學專論</li>
<li>Planning for Freedom, and Other Essays and Addresses.</li>
<li>The Anti-Capitalistic Mentality. 反資本主義心境</li>
<li>Theory and History: An Interpretation of Social and Economic Evolution. 理論與歷史</li>
<li>The Ultimate Foundations of Economic Science: An Essay on Method. 經濟學的最後基礎</li>
<li>The Historical Setting of the Austrian School of Economics.</li>
<li>Notes and recollections. 米塞斯回憶錄</li>
<li>On the Manipulation of Money and Credit.</li>
<li>The Clash of Group Interests and Other Essays.</li>
<li>Economics Policy: Thoughts for Today and Tomorrow.</li>
<li>Money, Method and the Market Process. 貨幣、方法與市場過程</li>
<li>Economic Freedom and Interventionism: An Anthology of Articles and Essays</li>
</ol>

            

            
            

            
            
                </div>
            </div>

            <nav class="post-pagination">

                
                <a class="newer-posts">
                    &nbsp;
                </a>
                

                
                <a class="older-posts">
                    &nbsp;
                </a>
                


            </nav>
            <div class="post-comment-wrapper">
                






            </div>
        </div>
    </div>
</div>

            </div><div id="single-column-footer">帮你做自己的书库
<br><br>
&copy;
	
	2022 Mixoo 米库
	
</div>
    	</div>
    <script src="https://doraemonj.github.io//js/journal.js"></script>
    </body>
</html>
