.block_ {
    display: block;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 36pt
    }
.block_1 {
    color: #404040;
    display: block;
    font-family: "Garamond", serif;
    font-size: 2em;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-decoration: underline
    }
.block_2 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_3 {
    display: block;
    margin-bottom: 5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_4 {
    display: block;
    margin-bottom: 5pt;
    margin-left: 12pt;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_5 {
    display: block;
    margin-bottom: 5pt;
    margin-left: 24pt;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_6 {
    display: block;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_7 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_8 {
    color: #404040;
    display: block;
    font-family: "Garamond", serif;
    font-size: 2em;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-decoration: underline
    }
.block_9 {
    color: #404040;
    display: block;
    font-family: "Garamond", serif;
    font-size: 1.83333em;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-decoration: underline
    }
.block_10 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    font-weight: normal;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.block_11 {
    color: #404040;
    display: block;
    font-family: "Garamond", serif;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.block_12 {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_13 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre {
    display: block;
    font-family: "Georgia", serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.calibre2 {
    display: block;
    line-height: 1.2
    }
.calibre3 {
    display: block
    }
.calibre4 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: center
    }
.calibre5 {
    display: block;
    font-weight: bold;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.33em;
    text-align: center
    }
.calibre6 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre7 {
    display: block;
    line-height: 1.2;
    text-decoration: none
    }
.calibre8 {
    display: block;
    font-size: 0.83333em;
    font-weight: bold;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.67em;
    text-align: center
    }
.calibre9 {
    align: center;
    height: 100px;
    width: 100px
    }
.calibre10 {
    font-style: italic
    }
.calibre11 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre12 {
    border-bottom-color: currentColor;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: inset;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: inset;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: inset;
    border-top-width: 1px;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre13 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre14 {
    display: block;
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre15 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre16 {
    display: block;
    margin-left: 40px
    }
.center {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.footnote {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-after: avoid
    }
.noteref {
    text-decoration: none
    }
.text_ {
    color: #0563C1;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: underline
    }
.text_1 {
    text-decoration: underline
    }
.text_2 {
    color: #0563C1;
    text-decoration: underline
    }
.text_3 {
    font-family: "Georgia", serif
    }
.text_4 {
    font-family: "Times New Roman", serif
    }
.text_5 {
    font-family: "Georgia", serif;
    font-style: italic
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

