<!DOCTYPE html>
<html><head>
<title>Authors</title>

<meta charset="utf-8">
<meta name="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta content="telephone=no" name="format-detection">
<meta name="description" content="">
<meta name="renderer" content="webkit">
<meta name="theme-color" content="#ffffff">




<script src="/vendor/js/jquery.min.js" ></script>
<script src="/vendor/js/popper.min.js" ></script>
<script src="/vendor/js/bootstrap.min.js" ></script>
<script src="/vendor/js/smooth-scroll.polyfills.min.js" ></script>
<link type="text/css" rel="stylesheet" href="/vendor/css/bootstrap.min.css">
<script src="/vendor/js/vue.min.js" ></script>




<link rel="stylesheet" href="https://doraemonj.github.io/scss/journal.min.ebffb8bc663074d9be2ae412afd845f5d51f7476b8c7c75ccd6caf0352de28e7.css" integrity="sha256-6/&#43;4vGYwdNm&#43;KuQSr9hF9dUfdHa4x8dczWyvA1LeKOc=" media="screen">



<link rel="stylesheet" href="https://doraemonj.github.io/scss/dark-mode.min.7ecba69f8dacfdebdd9e8de588dc5cc8a99040c5413ed0e30d0abaa3d77b175d.css" integrity="sha256-fsumn42s/evdno3liNxcyKmQQMVBPtDjDQq6o9d7F10=" media="screen">


<script src="https://doraemonj.github.io//js/loadCSS.js"></script>
<script>
  loadCSS("https://fonts.googleapis.com/css?family=Lora|Montserrat|Fira+Mono|Noto+Serif+SC|Material+Icons");
</script>

<script src="https://doraemonj.github.io//js/table.js"></script>




<style>
  .toc{
    display: none !important;
  }
</style>








</head><body>
    	<div id="app"><div ref="sideContainer" class="side-container">
    
    <a class="a-block nav-head false" href="https://doraemonj.github.io/">
    
        <div class="nav-title">
            Mixoo 米库
        </div>
        
    </a>

    <div class="nav-link-list">
        
        
            
            
            
            
            
            <a class="a-block nav-link-item false" href="/books/">
                藏书
            </a>
            
        
            
            
            
            
            
            <a class="a-block nav-link-item false" href="/about/">
                关于
            </a>
            
        
    </div>

    

    <div class="nav-footer">
        帮你做自己的书库
<br><br>
&copy;
	
	2022 Mixoo 米库
	

    </div>
    
</div><div ref="extraContainer" class="extra-container">
    
    
    <div class="pagination">
        <a id="globalBackToTop" class="pagination-action animated-visibility" href="#top" :class="{ invisible: scrollY == 0 }">
            <i class="material-icons pagination-action-icon">
                keyboard_arrow_up
            </i>
        </a>
        
        <a class="pagination-action" v-on:click="toggleDarkMode">
            <i class="material-icons pagination-action-icon" v-if="isDarkMode">
                brightness_4
            </i>
            <i class="material-icons pagination-action-icon" v-else="isDarkMode">
                brightness_7
            </i>
        </a>
        
        
        
        
    </div>
</div><div class="single-column-drawer-container" ref="drawer"
     v-bind:class="{ 'single-column-drawer-container-active': isDrawerOpen }">
    <div class="drawer-content">
        <div class="drawer-menu">
            
            
            
                
                
                
                
                
                <a class="a-block drawer-menu-item false" href="/books/">
                    藏书
                </a>
                
            
                
                
                
                
                
                <a class="a-block drawer-menu-item false" href="/about/">
                    关于
                </a>
                
            
            
        </div>
    </div>
</div>
<transition name="fade">
    <div v-bind:class="{ 'single-column-drawer-mask': mounted }" v-if="isDrawerOpen" v-on:click="toggleDrawer"></div>
</transition>
<nav ref="navBar" class="navbar sticky-top navbar-light single-column-nav-container">
    <div ref="navBackground" class="nav-background"></div>
    <div class="container container-narrow nav-content">
        <button id="nav_dropdown_btn" class="nav-dropdown-toggle" type="button" v-on:click="toggleDrawer">
            <i class="material-icons">
                menu
            </i>
        </button>
        <a ref="navTitle" class="navbar-brand" href="https://doraemonj.github.io/">
            Mixoo 米库
        </a>
        
        <button type="button" class="nav-darkmode-toggle" v-on:click="toggleDarkMode">
            <i class="material-icons" v-if="isDarkMode">
                brightness_4
            </i>
            <i class="material-icons" v-else="isDarkMode">
                brightness_7
            </i>
        </button>
        
    </div>
</nav>
<div class="single-column-header-container" ref="pageHead"
     v-bind:style="{ transform: 'translateZ(0px) translateY('+.3*scrollY+'px)', opacity: 1-navOpacity }">
    <a href="https://doraemonj.github.io/">
        <div class="single-column-header-title">Mixoo 米库</div>
        

    </a>
</div>
            <div id="content">
<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
        <a class="a-block">
            <div class="post-item-wrapper post-item-wrapper-no-hover">
                <div class="post-item post-item-no-gaps">
                    <div class="post-item-info-wrapper">
                        <div class="post-item-title post-item-title-small">
                            Authors
                        </div>
                    </div>
                </div>
            </div>
        </a>
        
        
                <a href="https://doraemonj.github.io/authors/thomas-sowell/" class="a-block">
                    <div class="post-item-wrapper">
                        <div class="post-item post-item-no-gaps">
                            <div class="post-item-info-wrapper"> 
                                <div class="post-item-title">
                                    Thomas Sowell
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
        
                <a href="https://doraemonj.github.io/authors/marshall-mcluhan/" class="a-block">
                    <div class="post-item-wrapper">
                        <div class="post-item post-item-no-gaps">
                            <div class="post-item-info-wrapper"> 
                                <div class="post-item-title">
                                    Marshall McLuhan
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
        
                <a href="https://doraemonj.github.io/authors/ludwig-von-mises/" class="a-block">
                    <div class="post-item-wrapper">
                        <div class="post-item post-item-no-gaps">
                            <div class="post-item-info-wrapper"> 
                                <div class="post-item-title">
                                    Ludwig von Mises
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
        
                <a href="https://doraemonj.github.io/authors/motoyasu-honma-yuri-masaoka-natsuko-iizuka-sayaka-wada-sawa-kamimura-akira-yoshikawa-rika-moriya-shotaro-kamijo-masahiko-izumizaki/" class="a-block">
                    <div class="post-item-wrapper">
                        <div class="post-item post-item-no-gaps">
                            <div class="post-item-info-wrapper"> 
                                <div class="post-item-title">
                                    Motoyasu Honma, Yuri Masaoka, Natsuko Iizuka, Sayaka Wada, Sawa Kamimura, Akira Yoshikawa, Rika Moriya, Shotaro Kamijo &amp; Masahiko Izumizaki 
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
        
                <a href="https://doraemonj.github.io/authors/peter-c.-brown/" class="a-block">
                    <div class="post-item-wrapper">
                        <div class="post-item post-item-no-gaps">
                            <div class="post-item-info-wrapper"> 
                                <div class="post-item-title">
                                    Peter C. Brown
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
        
                <a href="https://doraemonj.github.io/authors/eric-s.-raymond-rick-moen/" class="a-block">
                    <div class="post-item-wrapper">
                        <div class="post-item post-item-no-gaps">
                            <div class="post-item-info-wrapper"> 
                                <div class="post-item-title">
                                    Eric S. Raymond, Rick Moen
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
        
                <a href="https://doraemonj.github.io/authors/james-dale-davidson-sir-william-rees-mogg/" class="a-block">
                    <div class="post-item-wrapper">
                        <div class="post-item post-item-no-gaps">
                            <div class="post-item-info-wrapper"> 
                                <div class="post-item-title">
                                    James Dale Davidson, Sir William Rees-Mogg
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
        
                <a href="https://doraemonj.github.io/authors/john-schember/" class="a-block">
                    <div class="post-item-wrapper">
                        <div class="post-item post-item-no-gaps">
                            <div class="post-item-info-wrapper"> 
                                <div class="post-item-title">
                                    John Schember
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
        
                <a href="https://doraemonj.github.io/authors/%E5%93%88%E8%80%B6%E5%85%8B/" class="a-block">
                    <div class="post-item-wrapper">
                        <div class="post-item post-item-no-gaps">
                            <div class="post-item-info-wrapper"> 
                                <div class="post-item-title">
                                    哈耶克
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
        
                <a href="https://doraemonj.github.io/authors/louis-d.-brandeis/" class="a-block">
                    <div class="post-item-wrapper">
                        <div class="post-item post-item-no-gaps">
                            <div class="post-item-info-wrapper"> 
                                <div class="post-item-title">
                                    Louis D. Brandeis
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
        
    </div>
</div>


            </div>


<div id="single-column-footer">帮你做自己的书库
<br><br>
&copy;
	
	2022 Mixoo 米库
	
</div>
    	</div>
    <script src="https://doraemonj.github.io//js/journal.js"></script>
    </body>
</html>
